section.section.comments
  .container.comments__container
    h2.title.comments__title отзывы
    .comments__list
      each item, index in commentsList
        if index === 0
          .comments__item.comments__item--active
            article.comments__wrap
              .comments__photo
                img.comments__img(src= item.src srcset= item.srcRetina alt="аватарка пользователя")
              .comments__content
                h3.comments__header= item.header
                p.comments__text= item.text
                span.comments__user-name= item.user
        else
          .comments__item
            article.comments__wrap
              .comments__photo
                img.comments__img(src= item.src srcset= item.srcRetina alt="аватарка пользователя")
              .comments__content
                h3.comments__header= item.header
                p.comments__text= item.text
                span.comments__user-name= item.user
    .comments__list-bottom
      each item, index in commentsList
        if index === 0
          .comments__item-bottom.comments__item-bottom--active
            img.comments__img(src= item.src srcset= item.srcRetina alt="аватарка пользователя")
        else
          .comments__item-bottom.comments__item-bottom
            img.comments__img(src= item.src srcset= item.srcRetina alt="аватарка пользователя")
